h1 {
  width: 50%;
  font-family: Merriweather, sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 15%; padding-bottom: 10px;
  padding-top: 10px; border-bottom: 3px solid black; border-top: 3px solid black
}
