:root{
  --bgcolor: #e3ebf7;
  --bgcolor2: #8595ad;
  --color1: rgba(94, 94, 94, .85);
  --color2: #343836;
  --color3: #ccd4e2;
  --color4: #8e92af;
  --color5: #5b687b;
  --color6: #544f84;
  --color7: #7975a4;
  --color8: #5395a9;
}

body {
  margin: 0px;
  background: linear-gradient(var(--bgcolor), var(--bgcolor2));
  color: var(--color2);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "logo apply"
    "logo apply";
}

.logo {
  grid-area: logo;
  align-self: center;
}

h2 {
  margin-top: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

img {
  width: 65%;
  text-align: center;
  display: block;
  margin: auto;
}

button {
  display: block;
  height: 20vh;
  width: 20vw;
  background: linear-gradient(var(--color3), var(--color4));
  color: #566263;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  border-radius: 2vmin;
}
a {
  display: block;
  width: 20vw;
  text-decoration: none;
  grid-area: apply;
  margin: auto;
  align-self: center;
}

@media screen and (max-width: 120vh) {
  body {
    grid-template-areas:
      "logo logo"
      "apply apply";
  }
  a { width: 50vw; margin-bottom: 15vh; }
  button { width: 50vw; }
  .logo {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
