:root{
  --bgcolor: #e3ebf7;
  --color1: #5e5e5e;
  --color2: #343836;
  --color3: #ccd4e2;
  --color4: #8e92af;
  --color5: #008e75;
  --color6: #2e22a2;
  --color7: #7975a4;
  --color8: #00b8ed;
  --color9: #99cfff;
}

body {
  margin: 0;
  background-color: var(--bgcolor);
  color: var(--color2);
}

.front {
  position: static;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.title {
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 90px;
  border-bottom: 3px solid var(--color2);
}

.front h2 {
  margin-top: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

.front h4 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  text-align: center;
}

.logo {
  height: 480px;
  overflow: hidden;
  position: relative;
}

.logo img{
  height: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info-buttons button {
  color:inherit;
  float:none;
  background-color: var(--color3);
  color: var(--color5);
  width: 30%;
  height: 60px;
  border: none;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
}

.info-tab {
  position: static;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.info-tab h1 {
  color: var(--color9);
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  width: 40%;
  margin: auto;
  border-bottom: 3px solid var(--color4);
  border-top: 3px solid var(--color4);
  padding: 10px;
  margin-bottom: 50px;
}
.info-tab p {
  font-family: 'Open Sans', sans-serif;
}
.info-tab > a > img {
  margin: 0 auto;
  width:130px;
  height:130px;
}
#faq .questions {
  width: 50%;
  margin: auto;
}
#faq p {
  display: inline-block;
  margin: auto;
  width: 48%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}
#faq .q {
  text-align: center;
  width: 40%;
  font-size: 1.2em;
  color: var(--color6);
  background-color: #ccd4e2;
  border-radius: 15px;
}
#faq .q:hover {
  color: var(--color7);
}
#faq .a {
  visibility: hidden;
  color: var(--color8);
  text-align: left;
  background-color: #ccd4e2;
  border-radius: 15px;
}
.nav {
  margin-top: 50px;
  background-color: var(--color1);
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}
.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}
.nav > li > a {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}
.nav > li > a:hover {
  color: var(--bgcolor);
}
