:root{
  --bgcolor: #e3ebf7;
  --bgcolor2: #8595ad;
  --color1: rgba(94, 94, 94, .85);
  --color2: #343836;
  --color3: #ccd4e2;
  --color4: #8e92af;
  --color5: #5b687b;
  --color6: #544f84;
  --color7: #7975a4;
  --color8: #5395a9;
}

body {
  margin: 0;
  background: linear-gradient(var(--bgcolor), var(--bgcolor2));
  color: var(--color2);
}

.front {
  position: static;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.title {
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 90px;
  border-bottom: 3px solid var(--color2);
}

.front h2 {
  margin-top: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

img {
  width: 70%;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: block;
  position: relative;
  display: block;
  margin-top: 18vmax;
  margin-bottom: 10vmax;
  margin-right: auto;
  margin-left: auto;
}

.button {
  font-family: 'Open Sans', sans-serif;
  display:block;
  width: 180px;
  height: 60px;
  position: relative;
  border: 2px solid var(--color5);
  margin: 70px auto;
  border-radius: 5px;
  background-color: var(--color5);
  transition: all 0.5s;
}
.button:hover {
  width: 230px;
  height: 70px;
}

.button:hover .content {
  line-height: 70px;
}

.button .content {
  display: block;
  position: absolute;
  bottom: 6px;
  width: 100%;
  height: 100%;
  line-height: 60px;
  background: linear-gradient(var(--color3), var(--color4));
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 6px 0 var(--color5);
  border-radius: 5px;
  transition: all 0.2s linear;
}

.button:active .content {
  bottom: 0;
  box-shadow: 0 6 0 #06c;
}

.info-tab {
  position: static;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.info-tab h1 {
  color: var(--color5);
  font-family: 'Roboto', sans-serif;
  font-size: 14vmin;
  width: 60%;
  margin: auto;
  border-bottom: 3px solid var(--color4);
  border-top: 3px solid var(--color4);
  padding: 10px;
  margin-bottom: 8vmin;
}

.info-tab p {
  font-family: 'Open Sans', sans-serif;
}

.info-tab > a > img {
  margin: 0 auto;
  width:130px;
  height:130px;
}

#info iframe {
  width: 60vmin;
  height: 50vmin;
  margin-top: 5vmin;
}

#faq .questions {
  width: 60%;
  margin: auto;
}

#faq .questions p {
  display: inline-block;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
  padding: 5px 5px 5px 5px;
}

#faq .q {
  text-align: center;
  width: 51%;
  font-size: 1.2em;
  color: var(--color6);
  background-color: #ccd4e2;
  border-radius: 15px;
}

#faq .q:hover {
  color: var(--color7);
}

#faq .questions .a {
  display: none;
  width: 0px;
  height: 0px;
  color: var(--color8);
  text-align: left;
  background-color: #ccd4e2;
  border-radius: 15px;
  font-size: 0em;
}

.button2 {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 300px;
  height: 60px;
  position: relative;
  border: 2px solid var(--color5);
  margin: 70px auto;
  border-radius: 5px;
  background-color: var(--color5);
  transition: all 0.5s;
}

.button2:hover {
  width: 230px;
  height: 70px;
}

.button2 .content {
  display: block;
  position: absolute;
  bottom: 6px;
  width: 100%;
  height: 100%;
  line-height: 60px;
  background: linear-gradient(var(--color3), var(--color4));
  text-align: center;
  color: #fff;
  box-shadow: 0 6px 0 var(--color5);
  border-radius: 5px;
  transition: all 0.2s linear;
  transition: line-height 0.5s;
  margin: auto;
}

.button2:active .content {
  bottom: 0;
  box-shadow: 0 6 0 #06c;
}

.button2:hover .content {
  line-height: 70px;
}

.nav {
  display: flex;
  background-color: var(--color1);
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 2vmin 0 2vmin 0;
  justify-content: space-evenly;
  height: 4vmax;
}

.nav > a {
  font-size: 3vmax;
  text-decoration: none;
  color: #fff;
  line-height: 4vmax;
}

.nav > a:hover {
  color: #666;
}

.nav > button {
  float:none;
  background: linear-gradient(var(--color3), var(--color4));
  color: #566263;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 2.5vw;
  font-weight: bold;
  border-radius: 2vmin;
}

.nav > button span {
  padding-left: 3vw;
  padding-right: 3vw;
}

#navfooter {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
