body {
 margin: 0;
}

div {
  position: absolute;
  width: 100%;
  height: 100%
}

.in-progress {
  width: 50%;
  font-family: Merriweather, sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.logo {
  width: 250px;
  height: 250px;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
