:root{
  --bgcolor: #e3ebf7;
  --bgcolor2: #8595ad;
  --color1: rgba(94, 94, 94, .85);
  --color2: #343836;
  --color3: #b1bdd2;
  --color4: #888baf;
  --color5: #5b687b;
  --color6: #544f84;
  --color7: #7975a4;
  --color8: #5395a9;
}

body {
  margin: 0px;
  background: linear-gradient(var(--bgcolor), var(--bgcolor2));
  color: var(--color2);
  width: 100vw;
  height: 100vh;
}
#content {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "logo apply"
    "logo apply";
  width: 100vw;
  height: 100vh;
}

.logo {
  grid-area: logo;
  align-self: center;
}

h2 {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 2vh;
  width: 85%;
  font-size: 5.5vmin;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}

img {
  width: 70%;
  text-align: center;
  display: block;
  margin: auto;
}

#apply {
  display: block;
  height: 20vh;
  width: 22vw;
  background: linear-gradient(var(--color3), var(--color4));
  color: #d9e0ea;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 6vmin;
  font-weight: bold;
  border-radius: 2vmin;
}

.apply {
  display: block;
  width: 22vw;
  text-decoration: none;
  margin: auto;
}

.sidebar {
  grid-area: apply;
  margin: auto;
  align-self: center;
}

.social {
  margin: auto;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 7vh;
  width: 100%;
}

.social a {
  color: var(--color1);
}

.social a:visited {
  color: var(--color1);
}

#sponButton {
  position: fixed;
  bottom: 0;
  right: 7vw;
  width: 40vw;
  max-width: 40vmin;
  height: 10vh;
  font-family: Roboto;
  font-size: 6vmin;
  border: 4px solid var(--color5);
  color: #4d545f;
  border-bottom: none;
  background: rgba(80, 109, 132, 0.3);
  border-top-left-radius: 2vmax;
  border-top-right-radius: 2vmax;
}

#sponsors {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(200, 215, 240, 0.85);
  transition: 0.7s;
  overflow-y: hidden;
}

#sponsors .ion-chevron-up {
  color: var(--color5);
  font-size: 5vmax;
  display: block;
  position: absolute;
  text-align: center;
  bottom: 5vmin;
  margin: auto;
  width: 100%;
}

.sponsorContent {
  position: relative;
  width: 90%;
  height: 85%;
  text-align: center;
  color: var(--color5);
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
}

.sponsorContent img {
  width: 75%;
}

.sponsorContent .sponpdf {
  font-size: 4.5vmin;
  border-radius: 2vmin;
  font-style: italic;
  text-decoration: none;
  color: var(--color5);
  font-family: Roboto, sans-serif;
  width: 88%;
  height: 10vmin;
  line-height: 10vmin;
  margin: auto;
  margin-top: 4vh;
  background-color: rgba(160, 180, 200, 0.5);
}

.sponsorContent p {
  margin: auto;
  font-weight: bold;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 7vmin;
  font-style: italic;
  margin-bottom: 5vh;
}

@media screen and (max-width: 100vh) {
  #content {
    grid-template-areas:
      "logo logo"
      "apply apply";
  }
  .sidebar {
    margin-top: 2vh;
  }
  .apply { width: 50vw; margin-top: 1vh; }
  #apply { width: 50vw; }
  .logo {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  #sponButton {
    width: 80vw;
    right: 10vw;
    left: 10vw;
    max-width: none;
  }
  .sponsorContent a {
    width: 85%;
    height: 14vh;
    line-height: 7vh;
    font-size: 6vmin;
  }
}
